.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433, #f53e2d); /* tạo màu nền background có màu chuyển theo góc 0 độ từ màu #fe6433 sang màu #f53e2d*/
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
    display: flex;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-user {
    /* display: flex; */
    /* align-items: center;
    justify-items: center; */
    position: relative;
}

.header__navbar-user:hover .header__navbar-user-menu {
    display: block;
} 

.header__navbar-user-menu {
    position: absolute;
    z-index: 1;
    padding-left: 0;
    top: calc(100% + 4px);
    right: 0;
    width: 160px;
    border-radius: 2px;
    background-color: var(--white-color);
    list-style: none;
    box-shadow: 0 1px 2px #e0e0e0;
    display: none;
    animation: fadeIn ease-in 0.15s;
}

.header__navbar-user-menu::before {
    content: "";
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 15px;
    top: -31px;
    z-index: -1;
}

.header__navbar-user-menu::after {
    content: "";
    position: absolute;
    width: 75%;
    height: 20px;
    display: block;
    left: 41px;
    top: -18px;
}


.header__navbar-user-item a {
    text-align: center;
    line-height: 22px;
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 4px 16px;
}

.header__navbar-user-item a:hover {
    background-color: #f5f5f5;
}

.header__navbar-user-item a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-user-item a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__navbar-user-item--separate {
    color: var(--primary-color);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.header__navbar-user-wrap {
    display: flex;
    /* justify-items: center; */
    align-items: center;
}

.header__navbar-user-img {
    /* margin: auto; */
    /* align-items: center; */
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.header__navbar-user-name {
    margin-left: 4px;
    font-size: 1.4rem;
    font-weight: 400;
}

.header__navbar-item--has-qr {
    margin-top: 2px;
}

.header__navbar-item--has-qr:hover .header__qr {  /*khi hover vào thẻ header__navbar-item--has-qr thì hiện header__qr*/
    display: block;
}

.header__navbar-item--has-notify:hover .header__notify {
    display: block;
}

.header__navbar-item,
.header__navbar-item-link {   /*css chung cho cả 2 class*/
    display: inline-block;  /*chuyển các khối lên cùng 1 hàng*/
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;   /*gạch chân của thẻ a*/
    font-weight: 300;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
}

.header__navbar-item-link:nth-child(2) {
    margin-left: 3px;
}

.header__navbar-item--strong {
    font-weight: 500;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 14px;
    background-color: rgba(221, 179, 179, 0.8);
    right: -9px;
    top: 34%;   /*50% của thẻ li chứa*/
    transform: translateY(-50%);  /*trừ 50% của height class chính nó*/

}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color);
}

/* heaser QR code */

.header__qr {
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 120%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.3s; 
    z-index: 1;
    box-shadow: 0 1px 5px rgb(172, 172, 172);
}

.header__qr::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    display: block;
    left: 0;
    top: -15px;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

.header__qr-link:nth-child(1),
.header__qr-link:nth-child(3) {
    margin-left: 11px;
}

.header__qr-link:nth-child(2) {
    margin-right: 11px;
}

.header__qr-download-img {
    height: 16px;
}

/* Header notification */
.header__notify {
    position: absolute;
    top: 100%;
    right: 0;
    width: 404px;
    border: 1px solid #D3D3D3;
    border-radius: 2px;
    background-color: var(--white-color);
    transform-origin: calc(100% - 32px) 0%;   /*chọn điểm gốc để chạy animation: giá trị left top (0% 0%) */
    animation: headerNotifyGrowth ease-in 0.2s;
    will-change: opacity, transform;     /*giúp trình duyệt tối ưu animation hơn*/
    /* có một số trình duyệt ko hỗ trợ các thuộc tính css, có thể kiểm tra độ hỗ trợ thuộc tính css trên caniuse */
    -webkit-animation: headerNotifyGrowth ease-in 0.2s;
    -ms-zoom-animation: headerNotifyGrowth ease-in 0.2s;
    -o-animation: headerNotifyGrowth ease-in 0.2s;
    -moz-animation: headerNotifyGrowth ease-in 0.2s;
    /* các hàm hỗ trợ trực tiếp cho các trình duyệt */
    display: none;
    z-index: 1;
}

/* thêm 1 cái row (hình tam giác trên notify) */
.header__notify::after {
    content: "";
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 0px;
    top: -28px;
}

@keyframes headerNotifyGrowth {   /*animation hiện ra từ 1 góc*/
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify::before {
    content: "";
    position: absolute;
    width: 94px;
    height: 20px;
    display: block;
    right: 0;
    top: -19px;
}


.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
    cursor: default;
}

.header__notify-header h3 {
    color: rgb(128, 125, 125);
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    user-select: node; /*ko bôi đen copy đc*/
}

.header__notify-list {
    padding-left: 0;
}

.header__notufy-item {
    display: flex;
}

.header__notufy-item:hover {
    background-color: rgba(233, 222, 222, 0.24);
}

.header__notufy-item--viewed {
    background-color: rgba(238, 75, 43, 0.09);
}

.header__notify-link {
    display: flex;
    padding: 12px;
    width: 100%;
    text-decoration: none;
}

.header__notify-img {
    width: 48px;
    object-fit: contain;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--black-color);
    font-weight: 400;
}

.header__notify-descriotion {
    display: block;
    font-size: 1.2rem;
    color: #756F6E;
    line-height: 2.6rem;
}

.header__notify-footer {
    display: flex;
}

.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    padding: 4px 0;
    width: 100%;
    line-height: 22px;
    font-weight: 500;
    text-align: center;
}

/* auth-form */

.auth-form {
    width: 500px;
    border-radius: 5px;
    overflow:hidden; /*để tránh cho đối tượng con chèn lên cha */
    background-color: var(--white-color);
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--primary-color);
    cursor: pointer;
}

/* .auth-form__form {

} */

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    cursor: text;
    outline: none; /*viền của các thẻ input hoặc button*/
}

.auth-form__input:focus {
    border-color: #777;
}

.auth-form__aside {
    margin-top: 18px;
}
.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link {
    
    color: var(--primary-color);
    text-decoration: none;
}

.auth-form__controls {
    margin-top: 80px;
    display: flex;
    justify-content:flex-end;
}

.auth-form__controls-back {
    margin-right: 8px;
}

.auth-form__socials {
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
    padding: 16px 36px;
    margin-top: 22px;
}

.auth-form__socials-icon {
    font-size: 1.8rem;

}

.auth-form__social--fb {
    color: var(--white-color);
    background-color: #3A5A98;
}

.auth-form__social--fb.auth-form__socials-icon {
    color: var(--white-color);
    /* background-color: ; */
}

.auth-form__social--gg {
    background-color: var(--white-color);
    color: #666;
}

.auth-form__socials-title {
    margin: 0 36px;
}

.fa-google {
    width: 12px;
}

/* login form */
.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    font-size: 1.4rem;
    text-decoration: none;
    color: #939393;
}

.auth-form__help-separate {
    display: block;
    height: 24px;
    margin: -3px 16px 0 16px;
    border-left: 1px solid var(--border-color);
}

.auth-form__help-forgot {
    color: var(--primary-color);
}

/* header-with-search */

.header-with-search {
    display: flex;
    align-items: center;
    height: var(--header-with-search-height);
    margin: 0 8px;
}

.header__logo {
    width: 200px;
}

.header__logo-link {
    color: transparent;
    text-decoration: none;
}

.header__logo-img {
    width: 150px;
}

.header__search {
    flex: 1;
    height: 40px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
}

.header__cart {
    width: 150px;
    text-align: center;
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 8px;
    cursor: pointer;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-icon {
    color: var(--white-color);
    font-size: 2.4rem;
    margin-top: 3px;
    padding: 9px;
}

.header__cart-heading {
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__cart-list {
    position: absolute; 
    top: calc(100% + -1px);
    right: 4px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    animation: fadeIn ease-in 0.3s;
    cursor: default;
    display: none;
}

.header__cart-list-item {
    padding-left: 0;
    list-style: none;
}

.header__cart-item {
    display: flex;
    align-items: center;
}

.header__cart-item:hover {
    background-color: #F8F8F8;
}

.header__cart-img {
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid var(--border-color);
}

.header__cart-item-info {
    width: 100%;
    margin-right: 12px;

}

.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-item-name {
    display: block;

    /* cách sử dụng text-overflow */
    white-space: nowrap;
    width: 190px;
    overflow: hidden;
    text-overflow: ellipsis;
    /*  */

    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
}

.header__cart-item-price {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);

}

.header__cart-item-multiply {
    font-size: 0.9rem;
    margin: 0 4px;
    color: #757575;
}

.header__cart-item-quantity {
    color: #757575;
    font-size: 1.2rem;
}

.header__cart-item-body {
    display: flex;
    justify-content: space-between;
}

.header__cart-item-description {
    color: #757575;
    font-size: 1.2rem;
    font-weight: 300;
}

.header__cart-item-remove {
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
}

.header__cart-view-cart {
    float: right; /*điều chỉnh vị trí của box*/
    margin: 0 12px 12px 0;
}

.header__cart-view-cart:hover {
    background-color: #F05D41;
}

.header__cart-item-remove:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.header__cart-list::before {
    content: "";
    position: absolute;
    right: -1px;
    top: -29px;
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}


.header__cart-list--no-cart {
    padding: 28px 0;

}

.header__cart-list--no-cart .header__cart-list--no-cart-mes,
.header__cart-list--no-cart .no-cart-img {
    display: block;
}

/* img no-cart */
/* .header__cart-list img { */
.no-cart-img {
    width: 54%;
    margin-left: auto;
    margin-right: auto;
    display: none;

}

.header__cart-list--no-cart-mes {
    display: none;
    /* display: block; */
    font-size: 1.4rem;
    color: var(--text-color);
    margin-top: 16px;
}

.header__cart-notice {
    position: absolute;
    top: 10%;
    right: -2px;
    padding: 1px 7px;
    background-color: var(--white-color);
    color: var(--primary-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 10px;
    border: 2px solid #EE4D2D;
}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0px 16px;
    border-radius: 2px;
}

.header__search-select {
    border-left: 1px solid #ccc;
    padding-left: 16px;
    position: relative;
}

.header__search-select-label {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-select-icon {
    font-size: 1.4rem;
    color: #646464;
    margin: 0 16px 0 8px;
    position: relative;
    top: 2px;
}

.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    border-radius: 2px;
    margin-right: 3px;
    outline: none;
    width: 54px;
}

.header__search-btn:hover {
    background-color: #fb6445;
    cursor: pointer;
}

.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
    
}

.header__search-select:hover .header__search-option{
    display: block;
}

.header__search-option {
    position: absolute;
    right: 0;
    top: 119%;
    width: 150px;
    list-style: none;
    box-shadow: 0 1px 1px #ebe9e9; /*tạo bóng*/
    padding-left: 0;
    border-radius: 2px;
    display: none;
}

.header__search-option::before {
    content: "";
    width: 100%;
    height: 30px;
    display: block;
    position: absolute;
    top: -27px;
    left: 0;
}

.header__search-option-item {
    background-color: var(--white-color);
    padding: 8px;
}

.header__search-option-item:first-child {
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}

.header__search-option-item:last-child {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;

}

.header__search-option-item:hover {
    cursor: pointer;
    background-color: #fafafa;
}

.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}   

.header__search-option-item i {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 12px;
}

/* xem thêm về css selectors */
.header__search-input:focus ~ .header__search-history {
    display: block;
}

/* search-history */
.header__search-history {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 35px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px rgb(172, 172, 172);
    display: none;
}

.header__search-history-heading {
    margin: 6px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__search-history-list {
    padding-left: 0;
    list-style: none;
    margin: 6px 0 0;
}

.header__search-history-item {
    height: 38px;
    padding: 0 12px;
}

.header__search-history-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__search-history-item:hover {
    background-color: #d3d3d3;
}

.header__search-history-item a {
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 38px;
    color: var(--text-color);
    display: block;  /*thẻ a sẽ kế thừa kích thước của thẻ chứa nó*/
}

/* -------------------------------------------------------- */
/* tìm hiểu về responsive (12 column grip)*/

/* app_container */
.app_container {
    background-color: #F5F5F5;
}

.category {
    background-color: var(--white-color);
    border-radius: 2px;
}

.category__heading {
    color: var(--text-color);
    font-size: 1.7rem;
    padding: 12px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}

.category__heading-icon {
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: -1px;
}

.category-list {
    padding: 0 0 12px 0;
    list-style: none;
    margin-left: 9px;
}

/* .category-item {

} */

.category-item__link {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--text-color);
    display: block;
    padding: 6px 16px;
    font-weight: 400;

    position: relative;
    right: 0;
    transition: right linear 0.1s;  /*định nghĩa chuyển động khi hover*/
}

.category-item__link:hover {
    right: -4px;
    color: var(--primary-color);
}

.category-item--active .category-item__link {
    color: var(--primary-color);
}

.category-item--active .category-item__link::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 7px;
    border: 5px solid;
    border-color: transparent transparent transparent var(--primary-color);
    transform: translateY(calc(-50% - 1px));
}